@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

@font-face {
  font-family: 'Arimo';
  src: url('https://fonts.googleapis.com/css2?family=Arimo&display=swap'),
    type= 'text/css';
}
